<!DOCTYPE html>
<meta charset="utf-8">
<title>登录</title>
<form action="/login/login/" method="POST" name="loginForm">
    {% csrf_token %}
    <input type="text" name="username" autocomplete="username" placeholder="用户名" required>
    <input type="password" name="password" autocomplete="current-password" placeholder="密码" required>
    <input type="submit" name="submit" value="提交">
</form>
